.container{
  width:100vw;
  height:100vh;
  background-color: #224a5b;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  flex-direction: column;
  color: wheat;
}

.card{
  width:600px;
  height:fit-content;
  background-color: #2C5364;
  border-radius: 12px;
  padding:20px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

h1{
  color: #00B4DB;
  position: fixed;
  top:10px;
}
h1:hover{
  color: #00b3db9f;
  
}

li{
  list-style: none;
  background-color: rgb(174, 182, 188);
  max-width:210px;
  padding: 10px;
  border-radius: 6px;
  color: #224a5b;
  font-weight: 650;
  list-style-type:upper-alpha;
 }

li:hover{
  background-color: green;
  cursor: pointer;
  color: aliceblue;
}

#option{
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.btn {
  display: flex;
  justify-content: space-between;
  
  button {
    background-color: #D2E4E1;
    border: none;
    padding: 5px;
    border-radius: 6px;
  }
  button:hover{
    background-color: #7fe7d5;
  }
}

#score{
  position: relative;
  top:-150px;
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  color: #38ef7d;
}

@media only screen and (max-width:500px){
  .card{
    max-height: fit-content;
    width: 340px;
    padding: 20px;
    position: absolute;
    top:22%;
    
  }
  h1{ 
        top:30px;
  }
  #score{
    position: absolute;
    top:200px;
  }
}